.ball{
    /*height: 200px;
    width: 200px;
    background-color: green;
    /*border-radius: 50%;*/
    font-size: 80px;
    animation: ball 1s linear 1s infinite alternate;
}
@keyframes ball {
    from {
        transform: translateX(-200px);
    }
    to{
        transform: translateX(200px);
    }
}