div {
    height: 250px;
    width: 250px;
    background-color: green;
}
div:hover {
    background-color: aqua;
    transform: rotate(90deg);
    /*transform: scale(2,3);
    */
    transform: scale(0.5);
    /*transform: translate(30px);*/
    transform: translateY(30px);
    transform: skew(300deg);
}